@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1b19;
  color: white;
  scrollbar-color: rgb(58, 58, 58) transparent;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
}
@layer utilities {
  .no-bg-scroll::-webkit-scrollbar-track {
    background: rgb(63, 63, 63);
  }

  .no-bg-scroll::-webkit-scrollbar-button {
    display: none;
  }

  .no-bg-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .no-bg-scroll::-webkit-scrollbar-thumb {
    background: rgb(233, 49, 49);
  }
}
.sliderCard {
  animation: cardmove 10s linear infinite;
}
@keyframes cardmove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.sliderCard li {
  width: 100%;
}
.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.flip-card {
  overflow: hidden;
  background-color: transparent;
  width: 320px;
  height: 540px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
